<div style="background-color: pink; >
<h1>User#welcome</h1>
<p style="background-color: green;">Welcome to nishu's application</p>
<%= link_to "create students", :controller => "students", :action => "index" %>
</div>

